*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
} 
.css-17j8okc-MuiTableCell-root{
    font-size: 12px!important;
}
.css-jiabcu-MuiTableCell-root{
    font-size: 12px!important;
}